<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">New</a></li>
    <li><a ng-href="#">Save</a></li>
    <li><a ng-href="$">Settings</a></li>
  </ul>
  <h3 class="text-muted">DialogueFactory</h3>
</div>

<script id="template/carousel/carousel.html" type="text/ng-template">
		<div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel">
		
		<ol class="carousel-indicators" ng-show="slides().length > 1">
			<li ng-repeat="slide in slides()" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
		</ol>
		<div class="carousel-inner" ng-transclude></div>
	</div>
	
</script>

<tabset>
	<tab heading="factory">
	
		<div style="border-radius:25px;height:auto;background-color:#eee">
			<carousel>
				<slide style="border-radius: 25px; height: auto; background-color: #eee" ng-repeat="message in messages">
					<button class="btn btn-primary pull-left" style="margin-left: 2%; margin-top: 2%" ng-click=goToPrevious()>Previous</button>
					<h1 style="text-align: center">Turn: {{currentTurn.id}}</h1>
					<form class="form-horizontal" role="form">
					<br/><br/><br/><br/>
						<div class="form-group">
							<div class="btn-group">
							  <div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								  {{currentTurn.actor}}
								  <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
								  <li ng-repeat="name in npcNames"><a href ng-click=selectNPC($index)>{{name}}</a></li>
								</ul>
							  </div>
							  <div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								  {{currentTurn.audioClip}}
								  <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
								  <li ng-repeat="clip in audioclips"><a href ng-click=selectAudioClip($index)>{{clip}}</a></li>
								</ul>
							  </div>
							</div>
							<br/><br/>
							<div class="row">
								<div class="col-sm-2"></div>
								<div class="col-sm-8">
									<textarea id="npc-response" class="form-control" ng-model=currentTurn.text></textarea>
								</div>
							</div>
						</div>
						
						
						<div class="form-group" ng-repeat="response in responses">

							<label class="col-sm-3 control-label"for="response1">{{response}}</label>
							<div class="col-sm-7">
								<input id="response1" class="form-control" type="text" ng-model=currentTurn.choices[$index].text>
							</div>
							<div class="col-sm-2">
								<button class="btn btn-success" ng-click=goToNext($index)><span class="glyphicon glyphicon-arrow-right"></span></button>
							</div>
						</div>

					</form>		

					<br/><br/><br/><br/>
				</slide>
			</carousel>
		</div>
	</tab>
	<tab heading="graph">
		<div id="canvas"></div>
		<br/><br/><br/>
		<button type="button" class="btn btn-primary" ng-click=buildGraph()>Build Graph!</build>
		
	</tab>
	
</tabset>








<div class="footer">
  <p>ThereLabs - University of Missouri (Copyright 2014)</p>
</div>
